@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,900|Roboto+Condensed:400,700,300|Playfair+Display:400,400italic);


/*Bakgrunder*/

body {
  background-color: #FEEE98;
  color: #011D24;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

body.index {
    background-image: url(../../../abstractcrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}


/*Färgerna ska alternera i ordning vitt, blått, rosa*/


.white{
background-color: #FFF;
}

.blue {
    background-color: #AEE8E6; 
}

.pink{
background-color: #FFEBDE;
}


.white{
background-color: #FFF;
}
.blue {
    background-color: #AEE8E6; 
}
.pink{
background-color: #FFEBDE;
}


.ruta1{background-color: #AEE8E6;}


/*Basic styles*/

/*HEADER*/

header {
    width: 100%;
    height: 100px;
    background-image: url("../img/logotype.png");
    background-color: #FEEE98;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;    
}

/*KARTA*/

/*Utan Javascript*/
.kartaNoscript {
    max-width: 100%;
	height: 350px;
    background-image: url("../img/kartamobil.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain; 
}

/*Med Javascript*/
#karta {
    box-sizing: border-box;
    max-width: 100%;
    height: 350px;
}


/*==========
FOOTER
*****/


footer{
  background-color: #FFEBDE;
  padding: 40px 40px 40px 40px;
  text-align: center;
}


.fa{
  margin: 10px 15px 10px 15px;
} 


#fotcopy{
       text-decoration: none;
       font-style: normal;
       font-size: 0.65em;
}  



/*PORTFOLIO*/

article.portfolio {
    box-sizing: border-box;
    width: 100%;
    padding: 5%;
    text-align: center;
    overflow: hidden;
}

figure {
    margin: 0 auto;
}

/* OM BRIGHT */

#medarbetare figure img {
	display: block;
	margin: 0 auto;
	width: 70%;
	height: auto;
	border: 12px solid #42c9c6;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#medarbetare figure {
	text-align: center;
}

#medarbetare figcaption {
	line-height: 2;
}





img.portfolio { 
    box-sizing: border-box;
    border: 12px solid #bebebe;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
}



/* MENU */

#navbar {
	width: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #011D24;
	margin: 100px auto;
	opacity: 0.8;
	transition: 0.5s;
}	

#navbar ul {
	padding: 0;
	margin: 0;
}

#navbar li {
	overflow: hidden;
	list-style: none;
	text-align: center;
	line-height: 2.5em;
}

#navbar li a {
	text-decoration: none;
	color: #AEE8E6;
	font-size: 1.5em;
	font-family: 'Playfair Display', serif;
}

#navbar ul li:active {
	background-color: #AEE8E6;
	color: #011D24;
}

#navbar.clicked {
	width: 100%;
}

#knapp {
	position: absolute;
	top: 65px;
	right: 0;
	width: 40px;
	height: 35px;
}

#knapp div {
	position: relative;
	right: -5px;
	width: 30px;
	height: 5px;
	border-radius: 1px;
	background-color: #AEE8E6;
	transition: all 1s;
}

#knapp div:nth-child(1) {
	top: 5px;
}
#knapp div:nth-child(2) {
	top: 11px;
}
#knapp div:nth-child(3) {
	top: 17px;
}

#knapp.clicked div:nth-child(1) {
	transform: rotate(45deg);
	transform-origin: left;
	right: -10px;
}
#knapp.clicked div:nth-child(2) {
	background-color: transparent;
}
#knapp.clicked div:nth-child(3) {
	transform: rotate(-45deg);
	transform-origin: left;
	right: -10px;
	top: 16px;
}

/* Meny utan JavaScript */
#utanKnapp li {
	list-style: none;
	background-color: #011D24;
	margin: 2px 0;
	padding: 3px 0;
	text-align: center;
	margin-left: -40px;
}

#utanKnapp li a {
	text-decoration: none;
	color: #AEE8E6;
	font-size: 1.5em;
	font-family: 'Playfair Display', serif;
}

/* GRID */

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

[class*="col-"] {
	float: left;
	width: 100%;
	margin: 0;
}


/* Tablet */ 
@media only screen and (min-width: 500px){
	 	.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    
    .kartaNoscript {
    max-width: 100%;
	height: 500px;
    background-image: url("../img/karta.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover; 
}
 header {
    height: 175px;
    }
    
}

/* Desktop */ 


@media only screen and (min-width: 768px){
    
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

  
  header {
		height: 250px;
	}  
    
  .portfolio img {
     float: left;
   }
    
    .portfolio section {
        float: left;
    }
    
    h3.portfolio {
        float: right;
        text-align: center;
    }






/* Navigering desktop */

#navbar {
	position: relative;
	width: 100%;
	margin: 0 auto;	
}

#knapp {
	display: none;
}

#navbar ul {
	font-size: 0;
	display: block;
	text-align: center;
}

#navbar li {
	display: inline;
	font-size: 16px;
	margin: 0;	
}

#navbar li a {
	padding: 4px 20px 9px 20px;
}

#navbar a:hover {
	background-color: grey;
}

#navbar li.active a {
	background-color: white;
	color: black;	
}


}



.clear{
        content: "";
        clear: both;
        display: table;
    }

    
.row:after {
        content: "";
        clear: both;
        display: block;
    }
    
